{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block main_content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Carrinho de Compras</h1>
    {% if cart %}
        <table class="table table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Imagem</th>
                    <th>Produto</th>
                    <th>Preço Unitário</th>
                    <th>Quantidade</th>
                    <th>Subtotal</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product_id, item in cart.items %}
                <tr>
                    <td><img src="{{ item.image }}" alt="{{ item.name }}" class="cart-image"></td>
                    <td>{{ item.name }}</td>
                    <td>R$ {{ item.price }}</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-outline-danger btn-sm update-cart" data-action="decrease" data-product-id="{{product_id}}">-</button>
                            <span class="mx-2" id="quantity-{{product_id}}">{{ item.quantity }}</span>
                            <button class="btn btn-outline-success btn-sm update-cart" data-action="increase" data-product-id="{{product_id}}" >+</button>
                        </div>
                    </td>
                    <td id="subtotal-{{product_id}}">R$ {{ item.price|multiply:item.quantity|floatformat:2}}</td>
                    <td>
                        <form id="removeToItemCartForm" action="{% url "menu_app:remove_item" product_id %}" method="POST">
                            {% csrf_token %}
                            <button productId="{{product_id}}" type="submit" class="btn btn-danger btn-sm remove-btn">Remover</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end"><strong>Total:</strong></td>
                    <td colspan="2"><strong id='total'>R$ {{ total|floatformat:2 }}</strong></td>
                </tr>
            </tfoot>
        </table>
        <div class="d-flex justify-content-end">
            <form action="{% url "menu_app:finalize_order" %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Finalizar Compra</button>
            </form>
        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            Seu carrinho está vazio. <a href="{% url 'menu_app:menu' %}" class="alert-link">Voltar ao menu</a>
        </div>
    {% endif %}
</div>
<!-- Modal -->
<div class="modal fade" id="removeToCartModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body modal-content-info">
                <img class="img-add-to-cart" src="{% static "assets/images/depressao.png" %}">
                <strong>Tem certeza que deseja remover do carrinho?</strong>
            </div>
            <div class="modal-footer">
                <button type="button" id="noRemove" class="btn btn-primary">Não</button>
                <button type="button" id="confirmRemove" class="btn btn-secondary">Sim, remover</button>
            </div>
        </div>
    </div>
</div>
<script>
    const csrfToken = '{{ csrf_token }}'
</script>
{% endblock main_content %}