{% extends "base.html" %}

{% block main_content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Imagem maior do produto -->
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product-image image-specific">
        </div>
        <div class="col-md-6">
            <h1>{{ product.name }}</h1>
            <p><strong>Descrição:</strong> {{ product.description }}</p>
            <p id="priceProduct" data-price="{{product.price}}"><strong>Preço:</strong> R$ {{ product.price }}</p>

            <div class="mb-4">
                <label for="quantity" class="form-label">Quantidade:</label>
                <div class="input-group">
                    <button class="btn btn-outline-secondary" id="decrease" type="button">-</button>
                    <input type="text" id="quantify" name="quantify" class="form-control" value="1" min="1">
                    <button class="btn btn-outline-secondary" id="increase" type="button">+</button>
                </div>
            </div>

            <div class="mb-4">
                <p><strong>Total: </strong>R$ <span id="total-price">{{ product.price }}</span></p>
            </div>

            <!-- Formulário de adicionar ao pedido -->
            <form action="{% url "menu_app:add" product.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="final-quantity" name="quantify" value="1">
                <button type="submit" class="btn btn-primary">Adicionar ao Pedido</button>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}


